//
   Created by Sameer on 1/6/2015.
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
link(rel="stylesheet", type = 'text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
link(rel="stylesheet", type = 'text/css' ,href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

link(type='text/css', rel='stylesheet' ,href='/css/style.css')
link(type='text/css', rel='stylesheet', href='/css/lightbox.css')
link(type='text/css', rel='stylesheet' , href='/css/bootstrap-responsive.min.css')
link(type='text/css', rel='stylesheet' , href='/css/bootstrap.min.css')
//script(src='/js/bootstrap.min.js')
script(src='/js/addProducts.js')
script(src='/js/lightbox.js')
script(src='/js/shoppingCart.js')

