doctype html
html(lang="en")
	head
		include ./head.jade
		title Login - eCommIt
body
	.container
		include ./nav.jade
		- if ( typeof(message) != 'undefined'){
		p.alert.alert-danger #{message}
		-}
		form.form-signin(action='/authUser', method='POST')
			h2.form-signin-heading Please sign in
			input.input-block-level(type='text', name = 'email', placeholder='Email address')
			input.input-block-level(type='password', name = 'password' , placeholder='Password')
			label.checkbox Remember Me
				input(type='checkbox', name='rememberMe')
			button.btn.btn-large.btn-primary(type='submit') Sign in



