doctype html
html(lang="en")
	head 
		link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
		link(type='text/css', rel='stylesheet', href='/css/bootstrap-responsive.css')
		
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		title Register - eCommIt
body
	.container
		include ./nav.jade
		p.alert.alert-success #{message}



