nav(class="navbar nav-pills navbar-default" role="navigation")
   .container-fluid
      ul.nav.nav-pills
         li(role="presentation")
            a(href='/products') Products
         li(role="presentation")
            a(href='/newProduct') Add Product
         li(role="presentation")
            a(href='/logout') Logout