//
   Created by Sameer on 1/6/2015.
.shoppingCart
   h3 Your Cart
      button(type="button" class="btn btn-default cartCloseButton" aria-label="Remove")
         span(class="glyphicon glyphicon glyphicon-remove" aria-hidden="true")
   table.table.table-bordered.cartTable
      tbody
   .checkoutButton




