doctype html
html(lang="en")
	head 
		link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
		link(type='text/css', rel='stylesheet', href='/css/bootstrap-responsive.css')
		
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/js/addProducts.js')
		title Product - eCommIt
body
	.container
		.imageBox
	script(type="text/javascript", onload="renderImages(#{JSON.stringify(data)});", src="/js/addProducts.js")


