doctype html
html(lang="en")
    head
        include ./head.jade
        title Product - eCommIt
body
    .container
        include ./nav.jade
        table.table.table-condensed.table-bordered.table-striped
            tr
                th Product Name
                th Edit
            each product in data
                tr
                td <a href=/product/#{product.productID}> #{product.productName} </a>
                td <a href=/editProduct/#{product.productID}> Edit </a>


