.imageBox {
    height:  50%;
}


pre {
    font-family:  inherit;
}
.preview {
    height: 50%;
    overflow: hidden ;
}

.preview img {
    border: 1px solid darkgray;
}


.thumbnail img {
    border: 1px solid darkgray;
    margin: 1px;
}
.productDescription {
    margin-top: 15%;
}

.specTable {
margin-top:  5% ;
}